#star_alter{
  padding: 0;
  margin: 0;
  font-family: "微软雅黑", "黑体", "Microsoft YaHei UI", "Microsoft YaHei", "SimSun", "宋体", "Segoe UI", Tahoma, Helvetica, Sans-Serif;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  position: fixed;
  top: 30%;
  left: 34%;
  border-radius: 8px;
  h4{
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding: 34px 0 28px;
  }
  >div{
    position: relative;
    top: 7px;
    left: 0;
    >p{
      display: inline-block;
      font-size: 20px;
      margin-left: 110px;
    }
    .star{
      list-style: none;
      display: flex;
      position: absolute;
      top:0;
      left: 190px;
      li{
        width: 32px;
        height: 30px;
        cursor: pointer;
        i{
          display: block;
          width: 100%;
          height: 100%;
          background: url("../../img/star.png") bottom center;
          background-size:92% ;
        }
        &.active{
          i{
            display: block;
            width: 100%;
            height: 100%;
            background: url("../../img/staring.png") top center;
            background-size:106% ;
          }
        }
      }
    }
    .button{
      display: flex;
      height: 104px;
      border-top: 1px solid black;
      position: relative;
      top: 24px;
      left: 0;
      cursor: pointer;
      div{
        display: inline-block;
        width: 50%;
        height: 104px;
        text-align: center;
        color: #00b3ee;
        font-size: 30px;
        &:nth-of-type(1){
          border-right: 1px solid black;
        }
      }
    }
  }
  }
