* {
  margin: 0;
  padding: 0;
}
.bg {
  border: 1px solid red;
  background: #f7f7f9;
  position: relative;
  top: 0;
  right: 0;
}
.bg .toll {
  border: 1px solid red;
  width: 192px;
  margin-top: 130px;
  margin-left: 69px;
}
.bg .toll #right,
.bg .toll #left {
  display: inline-block;
  background: dimgray;
  opacity: 0.8;
  width: 92px;
  height: 93px;
}
.bg .toll #right img,
.bg .toll #left img {
  display: inline-block;
  width: 28px;
  margin-top: 18px;
  margin-left: 34px;
}
.bg .toll #right:hover,
.bg .toll #left:hover {
  cursor: pointer;
  opacity: 0.4;
}
.bg .toll p {
  display: inline-block;
  width: 92px;
  background: dimgray;
  opacity: 0.8;
  line-height: 32px;
  margin-top: 6px;
  color: white;
  text-align: center;
}
.bg .toll p img {
  margin-right: 10px;
}
.bg .toll p:hover {
  cursor: pointer;
  opacity: 0.4;
}
.bg .toll footer {
  background: dimgray;
  opacity: 0.8;
  line-height: 25px;
  margin-top: 2px;
  color: white;
  text-align: center;
}
.bg .toll footer:hover {
  cursor: pointer;
  opacity: 0.4;
}
.bg .img {
  width: 70%;
  border: 1px solid green;
  position: absolute;
  top: 0;
  right: 0;
}
